* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


/*** main container ***/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** header styles ***/
.header-container {
  background-color: rgb(34, 37, 52);
  height: 50vh;
  margin: 15px 15px;
}

.header-container .header-logos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logos-container img {
  width: 40px;
  margin: 15px 45px;
}

.header-container .header-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
  margin: 15px 45px;
}

.header-text-container h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 45px;
}

.header-text-container p {
  color: #fff;
  width: 89%;

}

.header-text-container button {
  padding: 15px 5px;
  width: 40%;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}

/*** 4 logos styles ***/

.each-logo-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.each-logo-container h3 {
  font-size: 0.8rem;
}

.each-logo-container p {
  font-size: 0.7rem;
  color: rgb(164, 164, 164);
}

.logos {
  width: 100px;
}

.logo-container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}